.cardList {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.main {
  padding: 24px 32px;
}
.createTask {
  border: 1px #d3d3d3 solid;
  cursor: pointer;
  border-radius: 18px;
  width: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  color: black;
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
}
.navBar {
  display: flex;
  justify-content: flex-end;
  padding: 8px 12px;
}
.navBar .seachInput {
  width: 300px;
  height: 45px;
  border-radius: 8px;
  font-size: 18px;
}
